{% extends "base.html" %}

{% block titulo %} Amigos {% endblock %}

{% block contenido_principal %}
<h2>Amigos</h2>
<div class="table-responsive">

    {% if users.length %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.email}}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    {% else %}
    <p>Todavía no tienes amigos.</p>
    {% endif %}
</div>

<!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
<div class="row text-center">
    <ul class="pagination">
        {% for pagina in paginas %}
        <li class="page-item" id="pi-{{ pagina}}">
            <a class="page-link" href="/friends/list?pg={{ pagina}}">{{ pagina}}</a>
        </li>
        {% endfor %}
        <script>
            $("#pi-" + "{{ actual}}").addClass("active");
        </script>
    </ul>
</div>
{% endblock %}